table{
    background:rgb(82, 146, 206);
    padding: 10px;
}
th{
    background: brown;
    color: white;
    padding: 5px;
}
input{
    margin: 10px;
    height: 30px;
    width: 300px;
}
button{
    height:20px;
    width: 50 px;
    background: yellowgreen;
}

